body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
}

input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font: inherit;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
  max-width: 500;
}
