pre code.hljs {
  @apply block p-1 mt-1 rounded-auto leading-2;
  @apply overflow-x-auto;
  @apply .bg-cosmos text-proton;
  .hljs-name {
    color: #a6e22e;
  }
  .hljs-tag {
    color: #a6e22e;
  }
  .hljs-string {
    color: #e6db74;
  }
  .hljs-keyword {
    @apply .text-saturn-2;
  }
  .hljs-comment {
    @apply text-telluric;
  }
  .hljs-attr {
    @apply .text-saturn;
  }
  .hljs-params {
    color: #3ab2bd;
  }
  .hljs-number {
    @apply .text-jupiter;
  }
  .hljs-literal {
    @apply .text-nebula;
  }
}
