@import "./_styles/tailwind.css";
@import "./_styles/debug.css";
@import "./_styles/components.css";
@import "./_styles/fonts.css";
@import "./_styles/highlight.css";
@import "./_styles/docs.css";
@import "./_styles/docsearch.css";

/* Antialiasing */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * We're centering text in input by using a line-height equal to the height.
 * It's still a few px off when using the Hind font, so we compensate with some padding 
 **/
input {
  padding: 0.3rem 0 0 0;
}

/* Global styles */
a,
a:active {
  @apply .cursor-pointer;
  @apply .text-nebula .no-underline;
}

a:hover,
a:focus {
  @apply .underline;
}

code {
  @apply .code .text-mars-2;
  @apply .p-0x;
  @apply .bg-moon;
  @apply .rounded-1;
  font-size: .9em;
}