%form.join-form.join-form-fill.gradient-white.pos-rel.z-10.p-xlarge.p-l-xxlarge.p-r-xxlarge.radius6.elevation1.m-l-r-auto
  %header.text-center
    %h3.color-bunting.text-demi.no-margin.text-lg  Get Started. It’s FREE!
  .spacer32
  %label.color-bunting.text-normal{:for => "url"} Website
  .input-group
    %span.input-group-addon
      %i.icon.icon-link.color-bunting
    %input.form-control{type: 'text', placeholder: 'https://website.com/doc', name: 'url'}
  %p.text-sm.color-east-bay.m-t-small We’ll crawl the <u>documentation pages</u> of your website and index them on Algolia.
  .spacer32
  %label.color-bunting.text-normal{:for => "email"} Email
  .input-group
    %span.input-group-addon
      %i.icon.icon-email.color-bunting
    %input.form-control{type: 'email', placeholder: 'you@example.org', name: 'email'}
  %p.text-sm.color-east-bay.m-t-small We’ll email you the code you need to integrate the search into your documentation.
  .spacer32
  %p.checkbox.text-center
    %label
      %input{type: 'checkbox', name: 'owner'}
      %span I'm the <u>owner</u> of that website
  .spacer32
  .text-center
    %button.btn.btn-static-primary.w100p{type: 'submit'}
      Join the program

%form.join-form.join-form-validated.gradient-white.pos-rel.z-10.p-xlarge.p-l-xxlarge.p-r-xxlarge.radius6.elevation1.m-l-r-auto.hidden
  %h3 Thank you !
  .spacer20
  %p.text-sm
    %b
      We'll review your request shortly,
    after making sure your website is eligible to Docsearch.
  %p.text-sm
    This is a manual process and can take some time.
  %p.text-sm We'll then email you the code you need to integrate on your website
  .spacer20