.row
  .col-sm-4.showcase
    %a{:href => "https://stripe.com/docs", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-stripe.gif", :alt => "stripe docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}

      .col-md-4.img-container.text-center
        %img.img-responsive.logo.w100p{:src => "./img/showcase/logo-stripe.png", :alt => "stripe"}
      .col-md-8
        %p Stripe

  .col-sm-4.showcase
    %a{:href => "https://facebook.github.io/react/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-react.gif", :alt => "react docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}

      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-react.png", :alt => "reactjs"}
      .col-md-8
        %p React

  .col-sm-4.showcase
    %a{:href => "https://getbootstrap.com/docs/4.0", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-bootstrap.gif", :alt => "bootstrap docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}

      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-bootstrap.png", :alt => "bootstrap"}
      .col-md-8
        %p Bootstrap

  .col-sm-4.showcase
    %a{:href => "http://facebook.github.io/react-native/docs/getting-started.html", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-reactnative.gif", :alt => "react native docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}

      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-react.png", :alt => "react native"}
      .col-md-8
        %p React Native


  .col-sm-4.showcase
    %a{:href => "http://eslint.org/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-eslint.gif", :alt => "eslint docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}

      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-eslint.png", :alt => "eslint"}
      .col-d-8
        %p ESLint

  .col-sm-4.showcase
    %a{:href => "http://docs.scala-lang.org/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-scala.gif", :alt => "scala docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}

      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-scala.png", :alt => "scala"}
      .col-md-8
        %p Scala

  .col-sm-4.showcase
    %a{:href => "https://babeljs.algolia.com/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-babel.gif", :alt => "babel docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}
      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-babel.png", :alt => "babel"}
      .col-md-8
        %p Babel.js

  .col-sm-4.showcase
    %a{:href => "http://vuejs.org/guide/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-vuejs.gif", :alt => "vuejs docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}
      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-vuejs.png", :alt => "vuejs"}
      .col-md-8
        %p Vue.js

  .col-sm-4.showcase
    %a{:href => "https://docs.influxdata.com/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-influxdata.gif", :alt => "influxdata docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}

      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-influxdata.png", :alt => "influxdata"}
      .col-md-8
        %p Influxdata

  .col-sm-4.showcase
    %a{:href => "http://help.apiary.io/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-apiary.gif", :alt => "apiary docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}
      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-apiary.png", :alt => "apiary"}
      .col-md-8
        %p Apiary

  .col-sm-4.showcase
    %a{:href => "http://marionettejs.com/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-marionettejs.gif", :alt => "marionette docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}
      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-marionettejs.png", :alt => "marionnette"}
      .col-md-8
        %p Marionette.js

  .col-sm-4.showcase
    %a{:href => "https://echo.labstack.com", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-echo.gif", :alt => "echo docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}
      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-echo.png", :alt => "echo"}
      .col-md-8
        %p Echo

  .col-sm-4.showcase
    %a{:href => "https://serge.io/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-serge.gif", :alt => "serge docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}
      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-serge.svg", :alt => "serge"}
      .col-md-8
        %p Serge

  .col-sm-4.showcase
    %a{:href => "https://batch.com/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-batch.gif", :alt => "batch docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}
      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-batch.svg", :alt => "batch"}
      .col-md-8
        %p Batch

  .col-sm-4.showcase
    %a{:href => "https://dev.mailjet.com/guides/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-mailjet.gif", :alt => "mailjet docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}
      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-mailjet.png", :alt => "mailjet"}
      .col-md-8
        %p Mailjet

  .col-sm-4.showcase
    %a{:href => "https://api-platform.com/docs/distribution/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-apiplatform.gif", :alt => "API Platform docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}
      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-apiplatform.svg", :alt => "API Platform"}
      .col-md-8
        %p API Platform

  .col-sm-4.showcase
    %a{:href => "https://quilljs.com/docs/quickstart/", :target => "_blank"}
      .screen-wrapper.pos-rel.h300
        %img.img-responsive.example.m100p.pos-abt{:src => "./img/showcase/example-quill.gif", :alt => "Quill docsearch demo"}
        %img.img-responsive.screen-mask.m100p.pos-abt{:src => "./img/mask.png", :alt => "mask"}
      .col-md-4.img-container.text-center
        %img.img-responsive.logo.h80{:src => "./img/showcase/logo-quill.png", :alt => "Quill"}
      .col-md-8
        %p Quill

  .col-sm-4.showcase
    .placeholder-logo
    .placeholder-screen
    .spacer10
    You?