<!-- Begin MailChimp Signup Form -->
#mc_embed_signup
  %form{action: '//algolia.us3.list-manage.com/subscribe/post?u=f7b8acc6ec97794a08484ca9b&amp;id=285b80e148', method: 'post', id: 'mc-embedded-subscribe-form' name: 'mc-embedded-subscribe-form' class: 'validate' novalidate: true}
    #mc_embed_signup_scroll
      %h3
        Sign up for our newsletter
      .spacer20
      .input-group
        .input-group-addon#sizing-addon1
          %i.fa.fa-envelope-o
        %input.form-control#mce-EMAIL{type: 'email', value:'', name: 'EMAIL', placeholder: 'Email Address'}
        %span.input-group-btn
          %input#mc-embedded-subscribe.btn.btn-primary{type: 'submit' value: 'Subscribe' name: 'subscribe'}
      #mce-responses.clear
        .response#mce-error-response
        .response#mce-success-response{style: 'display:none'}
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      %div{style: 'position: absolute; left: -5000px;'}
        %input{type: 'text', name: 'b_f7b8acc6ec97794a08484ca9b_285b80e148', tabindex: '-1', value:''}
<!--End mc_embed_signup-->
