extends main.pug

block content
  .bg-docsearch-hero
    .max-w-md.m-auto.text-center.px-2
      img.mt-3.mb-1(src="assets/docsearch-logo.svg", alt="DocSearch logo" width=480)
      .text-2.text-nova.mb-3 The best search experience for docs, integrates in minutes, for free
      .text-5.text-telluric.mb-3 Currently providing search for 900+ projects docs
      a.c-button.c-button-primary(href="#join-docsearch-program") Join the Program
  
  .bg-moon.px-2
    .max-w-xl.m-auto.text-center.my-3
      .glide
        .glide__track(data-glide-el="track")
          .glide__slides
            .glide__slide
              img(src="assets/logos/babel.png", alt="DocSearch + Babel", width=60)
            .glide__slide
              img(src="assets/logos/bootstrap.png", alt="DocSearch + Bootstrap", width=60)
            .glide__slide
              img(src="assets/logos/circleio.jpg", alt="DocSearch + Circle.io", width=60)
            .glide__slide
              img(src="assets/logos/cordova.png", alt="DocSearch + Cordova", width=60)
            .glide__slide
              img(src="assets/logos/electron.png", alt="DocSearch + Electron", width=60)
            .glide__slide
              img(src="assets/logos/ember.png", alt="DocSearch + Ember", width=60)
            .glide__slide
              img(src="assets/logos/eslint.jpg", alt="DocSearch + EsLint", width=60)
            .glide__slide
              img(src="assets/logos/gitlab.png", alt="DocSearch + Gitlab", width=60)
            .glide__slide
              img(src="assets/logos/go.png", alt="DocSearch + Go", width=60)
            .glide__slide
              img(src="assets/logos/grafana.png", alt="DocSearch + Grafana", width=60)
            .glide__slide
              img(src="assets/logos/graphql.png", alt="DocSearch + GraphQL", width=60)
            .glide__slide
              img(src="assets/logos/jekyll.jpg", alt="DocSearch + Jekyll", width=60)
            .glide__slide
              img(src="assets/logos/netlify.png", alt="DocSearch + Netlify", width=60)
            .glide__slide
              img(src="assets/logos/paypal.jpg", alt="DocSearch + Paypal", width=60)
            .glide__slide
              img(src="assets/logos/postman.png", alt="DocSearch + Postman", width=60)
            .glide__slide
              img(src="assets/logos/react.png", alt="DocSearch + React", width=60)
            .glide__slide
              img(src="assets/logos/scala.png", alt="DocSearch + Scala", width=60)
            .glide__slide
              img(src="assets/logos/serverless.png", alt="DocSearch + Serverless", width=60)
            .glide__slide
              img(src="assets/logos/socketio.png", alt="DocSearch + Socket.io" , width=60)
            .glide__slide
              img(src="assets/logos/stripe.png", alt="DocSearch + Stripe", width=60)
            .glide__slide
              img(src="assets/logos/symfony.png", alt="DocSearch + Symfony", width=60)
            .glide__slide
              img(src="assets/logos/trello.png", alt="DocSearch + Trello", width=60)
            .glide__slide
              img(src="assets/logos/vue.png", alt="DocSearch + Vue", width=60)
            .glide__slide
              img(src="assets/logos/webpack.png", alt="DocSearch + Webpack", width=60)
            .glide__slide
              img(src="assets/logos/yarn.jpg", alt="DocSearch + Yarn", width=60)
                    
    .max-w-md.m-auto.text-center
      h2.text-solstice.text-5.normal.pb-2 State-of-the-art search for technical documentation
      p.text-3.pb-1.text-telluric We're kind of scratching our own itch here. As developers, we spend a lot of time reading documentation, and it isn’t always easy to find the information we need.
      p.text-3.pb-2.text-telluric No one's to blame, building a good search is a complex challenge. We just happen to have a lot of experience doing that, and we want to share it with the developer community.
    
    .max-w-xl.m-auto.pt-3.mb-2
      .demo-header-wrapper
        .docsearch-live-demo-input-wrapper
          input.docsearch-live-demo-input
      .demo-content-wrapper

  .bg-analytics.px-2
    .max-w-xl.m-auto.text-center.mb-2
      .max-w-md.m-auto.mb-3
        .text-solstice.text-5.normal.pb-2 Learn-as-you-type experience
        .pb-1.text-3.leading-2 Documentation speaks to your users. Ideally, this conversation will be pleasant and efficient. Everyone visiting your documentation page has a different need: Some are exploring your product, some are trying to get started, and some are stuck and need help.
        .text-3.leading-2 DocSearch is designed to provide relevant search results at every level. Its strutured layout give the users more context to understand the product.
      .max-w-xl.m-auto
        img.hidden.md_block(src="assets/docsearch-UI-anatomy.png", alt="Anatomy of DocSearch UI")
        
    .max-w-lg.m-auto.mb-2
      .flex.flrw
        .fln.w-100.md_w-40.text-center
          img(src="assets/illus-analytics.svg", alt="DocSearch Analytics", width=400)
        .fln.w-100.md_w-50.px-1.md_pt-3.mb-3
          .text-solstice.text-5.normal.pb-2.text-center.md_text-left Powerful Analytics with Algolia
          .text-3.leading-2.text-center.md_text-left.pb-1 Search usage of your documentation gives you unvaluable insights about what your users need to ramp up their knowledge of your product.
          .text-3.leading-2.text-center.md_text-left Follow metrics of popular queries, no results or click position to better optimize your content.
              
    .max-w-xl.m-auto
      h2.text-solstice.text-5.normal.pb-2.text-center.mb-1 How it works
      img(src="assets/docsearch-how-it-works.png", alt="how DocSearch works")
    .max-w-lg.m-auto
      .flex.flrw
        .fln.w-100.md_w-33.px-2.p-2
          h3.pb-1.text-3.leading-2 We crawl your documentation pages
          p.text-1.leading-2.text-justify We built a website crawler designed to index every section of your documentation.
          p.text-1.leading-2.text-justify Just send us the URL of your documentation, and we’ll run the crawler every 24h so you’re always up-to-date.
        .fln.w-100.md_w-33.px-2.p-2
          h3.pb-1.text-3.leading-2 We configure your search experience
          p.text-1.leading-2.text-justify You don’t need to configure any settings or even have an Algolia account.
          p.text-1.leading-2.text-justify We take care of all of this automatically to ensure the best documentation search experience.
        .fln.w-100.md_w-33.px-2.p-2
          h3.pb-1.text-3.leading-2 You add the search autocomplete to your UI
          p.text-1.leading-2.text-justify We’ll send you the script so you can integrate Algolia autocomplete to power your search.
          p.text-1.leading-2.text-justify You will receive the same speed, relevance and best-in-class UX as our paying customers.
  
    .max-w-xl.m-auto.mt-3.px-1.pb-3
      .text-solstice.text-5.normal.pb-2.text-center Try it live
      .pb-2.text-3.leading-2.text-center We’ve helped to integrate DocSearch into several open source projects. Take a look.
      .flex.flrw
        .fln.w-100.sm_w-50.md_w-25.p-1.flex.flrnw
          a.c-card.custom-demo.fla.flex.flcnw.p-05(href='http://getbootstrap.com/docs/4.1/getting-started/introduction/')
            .fln.flc.relative.text-0.max-w-5.m-auto
              img(src='assets/demos/example-bootstrap.gif', alt='Bootstrap')
            .fln.pt-1.flex.flrnw.flc.pl-1
              .fln.text-0
                img.h-2(src='assets/logos/bootstrap.png', alt='Bootstrap')
              .fla.pl-1.text-solstice.uppercase.bold Bootstrap
        .fln.w-100.sm_w-50.md_w-25.p-1.flex.flrnw
          a.c-card.custom-demo.fla.flex.flcnw.p-05(href='https://vuejs.org/v2/guide/')
            .fln.flc.relative.text-0.max-w-5.m-auto
              img(src='assets/demos/example-vuejs.gif', alt='Vue')
            .fln.pt-1.flex.flrnw.flc.pl-1
              .fln.text-0
                img.h-2(src='assets/logos/vue.png', alt='Vue')
              .fla.pl-1.text-solstice.uppercase.bold Vue
        .fln.w-100.sm_w-50.md_w-25.p-1.flex.flrnw
          a.c-card.custom-demo.fla.flex.flcnw.p-05(href='https://reactjs.org/docs/getting-started.html')
            .fln.flc.relative.text-0.max-w-5.m-auto
              img(src='assets/demos/example-react.gif', alt='React')
            .fln.pt-1.flex.flrnw.flc.pl-1
              .fln.text-0
                img.h-2(src='assets/logos/react.png', alt='React')
              .fla.pl-1.text-solstice.uppercase.bold React
        .fln.w-100.sm_w-50.md_w-25.p-1.flex.flrnw
          a.c-card.custom-demo.fla.flex.flcnw.p-05(href='https://stripe.com/docs')
            .fln.flc.relative.text-0.max-w-5.m-auto
              img(src='assets/demos/example-stripe.gif', alt='Stripe')
            .fln.pt-1.flex.flrnw.flc.pl-1
              .fln.text-0
                img.h-2(src='assets/logos/stripe.png', alt='Stripe')
              .fla.pl-1.text-solstice.uppercase.bold Stripe

  .bg-footer(id="join-docsearch-program").px-2
    .max-w-sm.m-auto.mt-2
      .max-w-md.m-auto.py-3
        .text-5.normal.pb-2.text-white.text-center Get started
        .pb-1.text-3.leading-2.text-white.text-center We’ll get back to you within a few hours with everything you need to integrate your new search into your website.
        .pb-3.text-3.leading-2.text-white.text-center Oh, and did we mention it's FREE? No commitment. No subscription. Everything is on us!
        include ../_includes/apply-form.pug

    .text-center.p-2.pb-2
      p.text-2.mb-2.leading-2 Docsearch 2015-2018 • Designed and built with love by
        a(href="https://www.algolia.com/")
          img.align-top.pl-1(src="assets/algolia-logo.svg", alt="search by Algolia", width=110)
      ul.list-reset.inline-block.text-2.mb-3
        li.p-1.w-100.md_w-auto.inline-block
          a(href="https://github.com/algolia/docsearch/blob/master/LICENSE") Code licensed under MIT
        li.p-1.w-100.md_w-auto.inline-block
          a(href="https://github.com/algolia/docsearch") Github
        li.p-1.w-100.md_w-auto.inline-block
          a(href="https://github.com/algolia/docsearch/issues") Issues
        li.p-1.w-100.md_w-auto.inline-block
          a(href="https://github.com/algolia/docsearch/blob/master/CHANGELOG.md") Changelog
        li.p-1.w-100.md_w-auto.inline-block
          a(href="https://discourse.algolia.com/tags/docsearch") Community Forum
        li.p-1.w-100.md_w-auto.inline-block
          a(href="https://discord.gg/qqCWs99") Discord
      
      //include ../_includes/newsletter.pug

  .hidden
    .my-popper
      .popper__arrow(x-arrow='right')
      img(src='https://docsearch-shared.netlify.com/docsearch-logo.png', alt='DocSearch', width=200)
      p
        | Try to search for expressions like 
        a.ds-sample-query(data-sample='ajax', href='#') ajax
        | , 
        a.ds-sample-query(data-sample='live', href='#') live
        |  or 
        a.ds-sample-query(data-sample='html', href='#') html
        | .
