doctype html
html
  meta(charset='utf-8')
  title Redirecting…
  link(rel="canonical", href=redirectTo)
  script!=`window.location.assign("${redirectTo}")`
  meta("http-equiv"='refresh', content="0", url=redirectTo)
  meta(name="robots", content="noindex")
  h1 Redirecting…
  a(href=redirectTo) Click here if you're not redirected
