# This file list code owners for the repository, or part of it.
# See https://help.github.com/articles/about-code-owners/

* @shortcuts @francoischalifour @8bittitan @dylantientcheu @NatanTechofNY @vascobettencourt @pipeline1987
