---
layout: default
---

.main-content
  .jumbotron
    .container
      %h1 Documentation Search

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis aut quos delectus natus! Possimus, minus. Voluptas inventore autem adipisci, perspiciatis accusantium eum nulla veritatis dolore commodi illo obcaecati velit reiciendis.

  .container
    %h1 Features
    .row.text-center
      .col-sm-4
        %img{src: 'http://placehold.it/200x200'}
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sit, veritatis tempora ipsum, provident fugiat quas, eum dicta architecto
      .col-sm-4
        %img{src: 'http://placehold.it/200x200'}
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sit, veritatis tempora ipsum, provident fugiat quas, eum dicta architecto
      .col-sm-4
        %img{src: 'http://placehold.it/200x200'}
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sit, veritatis tempora ipsum, provident fugiat quas, eum dicta architecto

    %h1 Showcase
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sed ea aliquam non quod nobis officia laudantium fugiat temporibus animi, voluptas odio quisquam, debitis aspernatur molestiae ratione veniam, soluta reprehenderit.
