[Settings]

[build]
[build.environment]
  NODE_ENV = "development"
  YARN_VERSION = "1.9.4"

# Deploy documentation website on each commit on master
[context.master]
  command = "./scripts/netlify-master"

# Deploy previews on each PR
[context.deploy-preview]
  command = "yarn run docs:build"
  publish = "docs/dist"
