[build]
  command="yarn build"
  publish="packages/website/build"
  ignore="git diff --quiet $COMMIT_REF $CACHED_COMMIT_REF -- packages/website/ yarn.lock"

[build.environment]
  YARN_VERSION = "1.22.19"
