.documentation {
  p, ul li, ol li {
    font-size: 15px;
    color: $east-bay

    img {
      max-width: 100%;
    }
  }

  ol li {
    color: $royal-blue;
    font-family: $paragraphs-font-family;
    font-weight: 600
  }

  h2 {
    font-weight: 500;
    font-size: 30px
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  .main-content {
    padding-bottom: 120px
  }

  .main-content {
    width: calc(100% - 300px);
    position: relative;
    margin-left: 300px;
    margin-top: 56px;

    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.about .main-content {
  min-height: 100vh
}
pre {
  display: block;
  padding: 1em;
  background-color: $titan-white;
  border-radius: 6px;
  white-space: pre;
  color: $east-bay
}

[style*="background-color:hsla(0,100%,50%,0.05)"],
[style*="background-color:hsla(0,0%,0%,0.07)"] {
  background: transparent !important
}
