//spacer
@mixin spacer {
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block; }

.spacer5 {
  @include spacer;
  height: 5px; }
.spacer10 {
  @include spacer;
  height: 10px; }
.spacer15 {
  @include spacer;
  height: 15px; }
.spacer20 {
  @include spacer;
  height: 20px; }
.spacer25 {
  @include spacer;
  height: 25px; }
.spacer30 {
  @include spacer;
  height: 30px; }
.spacer35 {
  @include spacer;
  height: 35px; }
.spacer40 {
  @include spacer;
  height: 40px; }
.spacer45 {
  @include spacer;
  height: 45px; }
.spacer50 {
  @include spacer;
  height: 50px; }
.spacer60 {
  @include spacer;
  height: 60px; }
.spacer80 {
  @include spacer;
  height: 80px; }
.spacer100 {
  @include spacer;
  height: 100px; }
.spacer200 {
  @include spacer;
  height: 200px; }

//width
.w100 {
  width: 100px; }
.w150 {
  width: 150px; }
.w200 {
  width: 200px; }
.m100 {
  max-width: 100px; }
.m200 {
  max-width: 200px; }
.m300 {
  max-width: 300px; }
.m400 {
  max-width: 400px; }
.m500 {
  max-width: 500px; }
.m600 {
  max-width: 600px; }
.m700 {
  max-width: 700px; }
.m800 {
  max-width: 800px; }
.m900 {
  max-width: 900px; }
.m1000 {
  max-width: 1000px; }
.m1200 {
  max-width: 1200px; }
.m100p {
  max-width: 100%; }

//height
.h100 {
  height: 100px; }
.h200 {
  height: 200px; }
.h300 {
  height: 300px; }
.h500 {
  height: 500px; }
.hfull {
  height: 100%; }

// positions
.pos-rel {
  position: relative; }
.pos-stc {
  position: static; }
.pos-abt {
  position: absolute; }


//font size
.text-xxl {
  font-size: 50px; }
.text-xl {
  font-size: 32px; }
.text-lg {
  font-size: 20px; }
.text-sm {
  font-size: 12px; }
.text-xs {
  font-size: 10px; }

// pull
.pull-in {
  margin-left: -15px;
  margin-right: -15px; }
.pull-out {
  margin: -15px; }

//borders
.b-t {
  border-top: 1px solid $secondary-color; }
.b-r {
  border-right: 1px solid $secondary-color; }
.b-b {
  border-bottom: 1px solid $secondary-color; }
.b-l {
  border-left: 1px solid $secondary-color; }

//padding
.padder {
  padding: 0 15px; }
.p-small {
  padding: 10px; }
.p-large {
  padding: 20px; }
.p-xlarge {
  padding: 30px; }
.p-l-large {
  padding-left: 20px; }
.p-l-xlarge {
  padding-left: 30px; }
.p-r-large {
  padding-right: 20px; }
.p-r-xlarge {
  padding-right: 30px; }
.p-l-xxlarge {
  padding-left: 60px; }
.p-r-xxlarge {
  padding-right: 60px; }

//margin
.m-l-r-auto {
  margin-left: auto;
  margin-right: auto; }
.m-l {
  margin-left: 15px; }
.m-l-none {
  margin-left: 0; }
.m-l-mini {
  margin-left: 5px; }
.m-l-small {
  margin-left: 10px; }
.m-l-large {
  margin-left: 20px; }
.m-l-n {
  margin-left: -15px; }
.m-l-n-mini {
  margin-left: -5px; }
.m-l-n-small {
  margin-left: -10px; }
.m-l-n-large {
  margin-left: -20px; }
.m-t {
  margin-top: 15px; }
.m-t-none {
  margin-top: 0; }
.m-t-mini {
  margin-top: 5px; }
.m-t-small {
  margin-top: 10px; }
.m-t-large {
  margin-top: 20px; }
.m-t-n {
  margin-top: -15px; }
.m-t-n-xmini {
  margin-top: -1px; }
.m-t-n-mini {
  margin-top: -5px; }
.m-t-n-small {
  margin-top: -10px; }
.m-t-n-large {
  margin-top: -20px; }
.m-r {
  margin-right: 15px; }
.m-r-none {
  margin-right: 0; }
.m-r-mini {
  margin-right: 5px; }
.m-r-small {
  margin-right: 10px; }
.m-r-large {
  margin-right: 20px; }
.m-r-n {
  margin-right: -15px; }
.m-r-n-mini {
  margin-right: -5px; }
.m-r-n-small {
  margin-right: -10px; }
.m-r-n-large {
  margin-right: -20px; }
.m-b {
  margin-bottom: 15px; }
.m-b-none {
  margin-bottom: 0; }
.m-b-mini {
  margin-bottom: 5px; }
.m-b-small {
  margin-bottom: 10px; }
.m-b-large {
  margin-bottom: 20px; }
.m-b-n {
  margin-bottom: -15px; }
.m-b-n-mini {
  margin-bottom: -5px; }
.m-b-n-small {
  margin-bottom: -10px; }
.m-b-n-large {
  margin-bottom: -20px; }

// text
.text-justify {
  text-align: justify; }
.vertical-align-middle {
  display: inline-block !important;
  vertical-align: middle !important; }
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis; }
.text-break-word {
  word-wrap: break-word; }
.nowrap {
  word-wrap: nowrap;
  white-space: nowrap; }

//line
.line {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
  border-width: 0;
  background-color: $secondary-color; }
.line-dashed {
  border-style: dashed;
  background: transparent; }

.no-line {
  border-width: 0; }
.no-border {
  border-color: transparent !important; }
.no-radius {
  border-radius: 0; }
.block {
  display: block; }
.inline {
  display: inline-block; }
.pull-none {
  float: none; }

.line-v {
  border-left: 1px solid #dddddd;
  padding-left: 20px; }
.line-v-right {
  border-right: 1px solid #dddddd;
  padding-right: 20px; }


// others
.clickable {
  cursor: pointer; }

.content-box {
  @include box-sizing(content-box); }

.faded {
  opacity: .3; }

// CSS for <sub> and <sup>
sub, sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.7em; }

sub {
  bottom: -0.25em; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

.text-white {
  color: #FFFFFF; }

.bg-white {
  background-color: white; }
