.DocSearch-Button {
  align-items: center;
  border: 1px solid var(--docsearch-subtle-color);
  border-radius: 4px;
  background-color: var(--docsearch-searchbox-background);
  color: var(--docsearch-muted-color);
  cursor: pointer;
  display: flex;
  font-weight: 300;
  width: 286px;
  height: 36px;
  justify-content: space-between;
  margin: 0 0 0 16px;
  padding: 0 8px;
  user-select: none;
}

.DocSearch-Button-Container {
  align-items: center;
  display: flex;
}

.DocSearch-Button-Container svg {
  color: var(--docsearch-highlight-color);
}

.DocSearch-Search-Icon {
  color: var(--docsearch-highlight-color);
  stroke-width: 1.6;
}

.DocSearch-Button {
  color: var(--docsearch-text-color);
}

.DocSearch-Button-Placeholder {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 12px 0 8px;
  vertical-align: middle;
}

.DocSearch-Button-Keys {
  display: flex;
  min-width: calc(2 * 20px + 2 * 0.4em);
}

.DocSearch-Button-Key {
  align-items: center;
  background: var(--docsearch-key-background);
  border-radius: 2px;
  color: var(--docsearch-key-color);
  box-shadow: none !important;
  display: flex;
  height: 24px;
  font-size: 20px;
  justify-content: center;
  position: relative;
  border: 0;
  width: 24px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}

.DocSearch-Button-Key:first-child {
  margin-right: 0.4em;
}

@media (prefers-reduced-motion) {
  .DocSearch-Button-Key {
    transition: none;
  }
}

.DocSearch-Button-Key--pressed {
  transform: translateY(1px);
  box-shadow: var(--docsearch-key-pressed-shadow) !important;
}

@media (max-width: 768px) {
  .DocSearch-Button {
    width: auto;
  }

  .DocSearch-Button-Keys,
  .DocSearch-Button-Placeholder {
    display: none;
  }
}
