  
aliases:
  - &filter-only-master
    branches:
      only:
        - master
        - docusaurus
version: 2
jobs:
  deploy-website:
    docker:
      - image: circleci/node:latest-browsers-legacy
    steps:
      - checkout
      - run:
          name: Deploying to GitHub Pages
          command: |
            git config --global user.email "s-pace@users.noreply.github.com"
            git config --global user.name "s-pace"
            echo "machine github.com login s-pace password $GITHUB_TOKEN" > ~/.netrc
            yarn install && GIT_USER=s-pace yarn run deploy
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - deploy-website:
         filters: *filter-only-master