$color-border: #3A3A3A;
$color-border-light: lighten($color-border, 15%);
$color-category-header: #333333;
$color-highlight-header: #3A3A3A;
$color-highlight: #448CDE;
$color-selected-background: #CECECE;
$color-selected-text: #0000FF;
$color-left-column-bg: #CECECE;
$color-left-column: #4E4726;

$breakpoint-medium: 568px;
$breakpoint-large: 768px;;

