/* Buttons */
.c-button {
  @apply inline-flex px-1x flc;
  @apply cursor-pointer select-none;
  @apply rounded-100;
  @apply font-semibold uppercase no-underline tracking-poppins text-telluric;
  @apply shadow-button;

  /* Those dimensions are not in the Tailwind config scale */
  height: 2.625rem;
  font-size: 0.9rem;

  background: linear-gradient(#fff, #e4e4e9);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
}
.c-button:hover,
.c-button:focus {
  @apply shadow-button-up;
  transform: translateY(-2px);
  @apply no-underline;
}
.c-button:active {
  @apply shadow-button-down;
  @apply text-telluric;
  transform: translateY(2px);
}

.c-button-primary {
  text-shadow: 0 1px 0 #4b5ef0;
  background: linear-gradient(#aeb7ff, #5468ff);
  @apply shadow-button-primary;
  @apply text-white;
}
.c-button-primary:hover,
.c-button-primary:focus {
  @apply shadow-button-primary-up;
}
.c-button-primary:active {
  background-blend-mode: multiply, normal;
  background-image: linear-gradient(#5468ff, #5468ff),
    linear-gradient(to top, #fff, #e4e4e9);
  @apply shadow-button-primary-down;
  @apply text-white;
}

/* Cards */
.c-card {
  background-image: linear-gradient(#fff, #f5f5fa);
  @apply rounded-1 shadow-1;
}
.c-card:hover {
  @apply no-underline;
}

/* Backgrounds */
.bg-docsearch-hero {
  @apply bg-cover bg-no-repeat;
  background-image: url("assets/bg-docsearch.svg"),
    linear-gradient(#fff, #f5f5fa);
  background-position: center calc(100% - 18px);
}

.bg-analytics {
  @apply bg-no-repeat;
  background-image: url("assets/bg-analytics.svg");
  background-size: 1800px;
  background-position: center 450px;
}

.bg-footer {
  @apply bg-cover bg-no-repeat;
  @apply absolute inset-x-0 z-1;
  background-image: url("assets/bg-footer.svg");
  background-position: 100% 100%;
  height: 500px;

}

/* Logo slider (gslide) */
.glide__slide {
  @apply text-center relative block;
  margin: 3px 0;
  min-height: 80px;

  .glide__caption {
    display: inline-block;
    position: relative;
    background-color: #4f61ee;
    color: white;
    margin: 8px auto 0;
    padding: 3px 6px 1px;
    border-radius: 4px;
    top: -2px;
    font-size: 13px;
    width: auto;
    opacity: 0;
    transition: opacity 0.5s ease;

    &:before {
      content: "";
      position: absolute;
      border-color: #4f61ee;
      border-width: 0 6px 6px 6px;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -4px;
      left: calc(50% - 6px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &:hover .glide__caption {
    opacity: 1;
  }
  img {
    border-radius: 6px;
    overflow: hidden;
    display: inline-block;
    max-width: 50px;
    vertical-align: middle;
    position: relative;
    &:hover {
      top: -1px;
      box-shadow: 0 2px 4px 0 rgba(93, 100, 148, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
    }
  }
}

/* Live Demo */
.docsearch-live-demo-input-wrapper {
  margin-top: 5px;
  margin-right: 8px;
  float: right;
  width: 50%;
  max-width: 450px;
  min-width: 250px;

  input,
  form {
    box-shadow: none !important;
    width: 100%;
  }
}

.demo-header-wrapper {
  height: 42px;
  background: url("assets/bg-docsearch-live-demo-bootstrap.jpg") no-repeat;
  background-color: #563e7c;
  background-size: 1200px;
  background-position: left top;
}

.demo-content-wrapper {
  height: 400px;
  background: url("assets/bg-docsearch-live-demo-bootstrap.jpg") no-repeat;
  background-size: 1200px;
  background-position: center -46px;
}

/* Tooltips (popper.js) */
.my-popper {
  padding: 24px;
  min-width: 350px;
  max-width: 48%;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 8px 18px 0 rgba(37, 44, 97, 0.15),
    0 2px 4px 0 rgba(93, 100, 148, 0.2);
  font-size: 14px;
  color: #8a8aab;
  line-height: 28px;
  text-align: center;
  background-image: linear-gradient(#fff, #f5f5fa);
  border-radius: 2px;
  border-top: solid 3px #5468ff;
}

.my-popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 8px;
}

.my-popper .popper__arrow {
  border-color: white;
}

.my-popper[x-placement^="bottom"] {
  margin-top: 8px;
}

.my-popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 8px 8px 8px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -8px;
  left: calc(50% - 8px);
  margin-top: 0;
  margin-bottom: 0;
}

/* Forms */
.control-label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-control {
  @apply rounded-auto;
  border: solid 1px #dbdbe7;
  @apply h-2x leading-h-2x px-1;
  width: 100%;
}

.form-control-primary {
  background: #ffffff;
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.8),
    inset 0 2px 9px 0 rgba(93, 100, 148, 0.3);
  border-radius: 24px;
  height: 42px;
  padding: 0 16px;
}

.elevation {
  background-image: linear-gradient(0deg, #f5f5fa 0%, #ffffff 100%);
  box-shadow: 0 2px 4px 0 rgba(93, 100, 148, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 5px;
}

/* Custom styles */
.custom-community-projects {
  width: 400px;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 0.25s;
  will-change: opacity;
}
.custom-community-link:hover .custom-community-projects {
  opacity: 1;
  pointer-events: auto;
}

/**
 * When we need to show code in action, we often need to show screenshots or
 * screencasts. This class will still an element to make it look like a browser
 * window.
 **/
.fake-browser {
  padding: 24px 1px 1px 1px;
  @apply bg-grey;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    @apply bg-red;
    display: block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    box-shadow: 25px 0 0 rgba(58, 178, 189, 0.5),
      50px 0 0 rgba(236, 139, 99, 0.5);
  }
}
