---
layout: 404.html
---

.panel-header.text-center.color-white
  .relative-container-illus-alien
    .spacer32
    %h1.color-bunting Error 404
    %h2.text-muted The page you requested was not found.
    .spacer64