<html>
<head>
  <base href="<%= app.config[:stage] == 'production' ? 'https://community.algolia.com/docsearch/': '/' %>">
  <link rel=canonical href="<%= url %>"/>
  <meta http-equiv=refresh content="0; url=<%= url %>"/>
  <meta name=robots content="noindex,follow"/>
  <meta http-equiv=cache-control content=no-cache />
</head>
<body> </body>
</html>