$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;

$headings-font-family: "Raleway";
$headings-font-weight: 300;

$brand-primary: #1d96c7;
$code-color: #a3b6cb;

$text-color: rgba(black, 0.75);

$anchor-offset: 100px;
$community-color: #674492;
$success-color: #58d158;
$gray-light: #f3f3f3;
$dark-blue: #0d1d30;
$light-blue: lighten($dark-blue, 70%);

$secondary-color: green;

$navbar-height: 50px;


