@import "docsearch/docsearch",
        "docsearch/dropdown",
        "docsearch/searchbox";


@include searchbox($searchbox-config...);
@include dropdown($dropdown-config...);

.ds-dropdown-menu {
  background: #fff;
  border-radius: 4px;
  min-width: 420px;
  padding: 0 8px;
  margin-top: 16px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    z-index: 1000;
    top: -7px;
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    transform: rotate(-45deg);
    border-radius: 2px;
  }
}
