.site-header {
  width: 100%;
  .navbar {
    border-radius: 0;
    border: none;
    background-color: #0B1724;
    height: 50px;
    .navbar-header {
      position: relative;
      height: 50px;
      font-size: 14px;
      line-height: 50px;
      color: #C7C4C3;
      a:hover {
        text-decoration: none;
      }
    }
    .navbar-nav > li {
      padding: 14px;
      font-size: 14px;
      font-family: Open Sans;
      &:last-child {
        padding-right: 40px;
      }
    }
    .navbar-nav > li > a {
      padding: 0 0 4px 0;
    }
    .navbar-nav > li.active > a {
      background-color: transparent;
      border-bottom: 2px solid #FF2E6C;
    }
    .fa-github {
      font-size: 1.6em;
      position: relative;
      top: -2px;
    }
  }
}
