* {
  z-index: 1;
}
/* COLORS
// -------------------------
#46AEDA Algolia blue
#FF2E6C Radical Red
#091724 Black Pearl
#C7C4C4 Gray text
*/

/* GENERAL
// ------------------------- */
html, body {
  position: relative;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

/* HEADER
// ------------------------- */
#logo img {
  height: 32px;
  margin-right: 12px;
}

.site-header {
  width: 100%;
  .navbar {
    border-radius: 0;
    border: none;
    background-color: #0B1724;
    .navbar-header {
      position: relative;
      height: 50px;
      font-size: 16px;
      line-height: 50px;
    }
    .navbar-nav > li > a {
      padding-bottom: 0;
    }
    .fa-github {
      font-size: 1.6em;
      position: relative;
      top: -2px;
    }
  }
}

/* JUMBOTRON
// ------------------------- */
.jumbotron {
  padding-top: 60px;
  background: #091724 url(../img/header-bg.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 0;
  .jumbotron-header {
    text-align: center;
    color: #FFF;
  }
  .jumbotron-left-column {
    display: none;
    padding-top: 100px;
    float: left;
    width: 400px;
    color: #FFF;
    margin-left: 120px;
    p {
      font-size: 18px;
      color: #C7C4C3;
    }
    @media (min-width: 1200px) {
      display: block;
    }
  }
}


/* JOIN FORM
// ------------------------- */
.join-form {
  background: #242E3A;
  display: block;
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 6px;
  color: #FFF;
  max-width: 90%;
  h3 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #3A434E;
  }
  label {
    display: block;
    font-weight: normal;
  }
  p {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: .5px;
    color: #C7C4C4;
  }
  .form-control {
    border: none;
  }
  .input-group-addon {
    background: white;
    border: none;
    border-right: solid 1px #ccc;
  }
  .btn {
    background-color: #FF2E6C;
    border: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
  }
}

@media (min-width: 1200px) {
  .jumbotron .join-form {
    position: absolute;
    top: 200px;
    right: 120px;
    padding: 10px 40px 30px;
  }
}

/* PAGE SECTIONS
// ------------------------- */
.page-section {
  padding: 60px 0;
  font-size: 18px;
  line-height: 1.6;
  color: #091724;
  h2 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
    &:after {
      display: block;
      content: '';
      border-bottom: 3px solid #FF2E6C;
      margin: 30px auto 33px;
      width: 60px;
    }
  }
  &.dark {
    background-color: #091724;
    color: #C7C4C4;
    h2 {
      color: #FFF;
    }
  }
}


#section_examples {
  a {
    color: #C7C4C4;
    &:hover {
      color: #46AEDA;
      text-decoration: none;
    }
  }
  .showcase {
    margin-top: 40px;
    text-align: center;
    .logo {
      display: inline-block;;
      height: 60px;
      margin-bottom: 20px;
    }
    .example {
      width: 100%;
    }
  }
  .screen-wrapper {
    position: relative;
    .freezeframe-container {
	    border-radius: 3px;
    }
    .screen-mask {
      position: absolute;
      top: 0;
      pointer-events: none;
    }
    &:hover .screen-mask{
      display: none;
    }
  }
  .placeholder-logo {
    border: #666 2px dashed;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    margin: 0 auto;
  }
  .placeholder-screen {
    border: #666 2px dashed;
    margin-top: 16px;
    width: 100%;
    height: 200px;
    border-radius: 4px;
  }
}

#section_how {
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
    .how-it-works-number {
      float: left;
      line-height: 35px;
      color: #46AEDA;
      font-size: 50px;
      font-family: "Helvetica Neue";
      margin-right: 10px;
    }
  }
  p {
    font-size: 16px;
  }
}

/* FOOTER
// ------------------------- */
footer.site-footer {
  padding-top: 2em;
  margin-top: 0;
  border-top: 1px solid #eeeeee;
  background-color: white;
  text-align: center;
  .fa.fa-heart {
    color: #e61870;
  }
  .input-group-addon {
    background-color: transparent;
  }
}

.doc-page {
  position: absolute;
  z-index: -1;
  &.show {
    transition: opacity 300ms;
    opacity:1;
  }
  &.hide {
    opacity: 0;
    transition: opacity 0;
  }
}


.index-container {
  position: relative;
  text-align: center;
  margin: auto;
}

.index {
  z-index: 20;
  position: relative;
  width: 319px;
  height: 180px;
}


.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #888;
  -webkit-animation: anim-ripple 1.8s ease-out infinite forwards;
  animation: anim-ripple 1.8s ease-out infinite forwards;
  top: 0;
  left: 50%;
}

@-webkit-keyframes anim-ripple {
  0% {
    opacity: 0;
    -webkit-transform: translate3D(-50%, 10px, 0) scale3d(3, 3, 1);
    transform: translate3D(-50%, 10px, 0) scale3d(3, 3, 1);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    -webkit-transform:translate3D(-50%, 10px, 0) scale3d(1, 1, 1);
    transform:translate3D(-50%, 10px, 0) scale3d(1, 1, 1);
  }
}

@keyframes anim-ripple {
  0% {
    opacity: 0;
    -webkit-transform: translate3D(-50%, 10px, 0) scale3d(3, 3, 1);
    transform: translate3D(-50%, 10px, 0) scale3d(3, 3, 1);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3D(-50%, 10px, 0) scale3d(1, 1, 1);
    transform: translate3D(-50%, 10px, 0) scale3d(1, 1, 1);
  }
}
