@mixin position($top: null, $right: null, $bottom: null, $left: null) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left; }

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content; }
  @-moz-keyframes #{$animation-name} {
    @content; }
  @-ms-keyframes #{$animation-name} {
    @content; }
  @-o-keyframes #{$animation-name} {
    @content; }
  @keyframes #{$animation-name} {
    @content; } }

