.main-content {
  margin-top: 50px;
  line-height: 1.5em;
}

.page-content {
  font-size: .9em;
  font-family: "Open Sans", helvetica, arial, sans-serif;
}

pre {
  font-size: .8em;
}

.CodeRay .code pre * {
  background: transparent !important;
}
