/* Content converted form markdown */
.documentation-content {
  /* max-width: 700px; */
  /* Paragraphs */
  p {
    @apply .leading-2 my-1;
  }
  ul {
    @apply .leading-2 my-1;
  }
  /* Titles */
  h1 {
    @apply .leading-0;
  }
  h2 {
    @apply .text-solstice .text-4 .normal;
    @apply .mb-1 .mt-2;
    /* Trick to have heading scroll into view and not being hidden by header */
    &:before {
      content: "";
      @apply hidden .h-3;
    }
    &:target:before {
      @apply block;
    }
    .anchor {
      @apply .hidden;
      &:after {
        content: "#";
      }
    }
    &:hover .anchor {
      @apply .inline-block;
    }
  }
  h3 {
    @apply .text-nebula .text-3 .normal;
    @apply .mb-1 .mt-2;
    /* Trick to have heading scroll into view and not being hidden by header */
    &:before {
      content: "";
      @apply hidden .h-3;
    }
    &:target:before {
      @apply block;
    }
    .anchor {
      @apply .hidden;
      &:after {
        content: "#";
      }
    }
    &:hover .anchor {
      @apply .inline-block;
    }
  }
}

.navigation-sidebar{
  min-width: 200px;
}

body.navigation-menu-open {
  max-width: 100%;
  overflow: hidden;
}
