/* Change the width of the parent element when the input is focused */
.custom-search-wrapper {
  transition: width 0.15s ease;
  will-change: width;
}
.custom-search-wrapper:focus-within {
  width: 100%;
}

/* purgecss start ignore */
/* Wrapper added by DocSearch */
.algolia-autocomplete {
  @apply w-100;
}

/* Dropdown menu */
.ds-dropdown-menu {
  @apply w-100;
}
/* purgecss end ignore */
