---
layout: default
---

.main-content
  .jumbotron
    .container
      %h1 Documentation Search

      %p Add relevant, fast and reliable search to your documentation website in minutes.

      %p.text-center <button type="button" class="btn btn-primary">Request search on your website</button>

  .container
    %h1 Showcase
    .row.text-center
      .col-sm-3.showcase
        %img.img-responsive{src: '/img/showcase/eslint.png'}
        %p Eslint
      .col-sm-3
        %img.img-responsive{src: '/img/showcase/babeljs.png'}
        %p Babel
      .col-sm-3
        %img.img-responsive{src: '/img/showcase/bootstrap.png'}
        %p Bootstrap
      .col-sm-3
        %img.img-responsive{src: '/img/showcase/reactjs.png'}
        %p React

    %h1 Features
    .row.text-center
      .col-sm-4
        %img{src: 'http://placehold.it/200x200'}
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sit, veritatis tempora ipsum, provident fugiat quas, eum dicta architecto
      .col-sm-4
        %img{src: 'http://placehold.it/200x200'}
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sit, veritatis tempora ipsum, provident fugiat quas, eum dicta architecto
      .col-sm-4
        %img{src: 'http://placehold.it/200x200'}
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sit, veritatis tempora ipsum, provident fugiat quas, eum dicta architecto


    %p Here are some examples of what you could build with docsearch.js.
