---
layout: default
---

.jumbotron.gradient-secondary.h800
  .container.pos-rel
    .spacer120
    .col-md-12
      %header.text-center.color-white
        %h1 <span class="hidden">DocSearch</span> <img src="./img/docsearch-logo-horizontal_light.svg" height="48"/>
        %h3 The easiest way to add search to your documentation
    .inline.spacer40
    .col-md-7
      #demo-screens
        %img{:src => "./img/screens/screen_react.png", :alt => "", :id => "placeholder", :class => "w100p"}/
    .col-md-5
      {% haml join-form.haml %}

#section_why.page-section
  .m800.m-l-r-auto
    %h2.page-section-title Why DocSearch?
    %p We're kind of scratching our own itch here. As developers, we spend a lot of time reading documentation, and it isn’t always easy to find the information we need.
    %p No one's to blame, building a good search for a documentation is a complex challenge.  We just happen to have a lot of experience doing that, and we want to share it with the world.

#section_examples.page-section.dark
  .container
    .text-center
      %h2.page-section-title DocSearch is live
      %p We’ve integrated DocSearch into several open source projects. Take a look.
    {% haml showcase.haml %}


#section_how.page-section
  .container
    .row
      %h2.page-section-title How it works
    .row
      .col-sm-12
        %img.img-responsive.m100p{:src => "./img/illus-howitworks.jpg", :alt => "how it works"}
    .spacer60
    .row
      .col-sm-10.col-sm-offset-1
        .row
          .col-sm-4.how-it-works
            %h3
              %span.how-it-works-number> 1
              We crawl your documentation pages
            %p We built a website crawler designed to index every section of your documentation.
            %p Just send us the URL of your documentation, and we’ll periodically run the crawler so you’re always up-to-date.
            .spacer30
          .col-sm-4.how-it-works
            %h3
              %span.how-it-works-number> 2
              We configure your search experience
            %p You don’t need to configure any settings or even have an Algolia account.
            %p We take care of all of this automatically to ensure the best documentation search experience.
            .spacer30
          .col-sm-4.how-it-works
            %h3
              %span.how-it-works-number> 3
              You add the search autocomplete to your UI
            %p We’ll send you a few lines of code to integrate Algolia autocomplete and power your search.
            %p You will receive the same speed, relevance and best-in-class UX as our paying customers.


#section_get-started.page-section.fill-royal-blue
  .container.col-md-12.fill-royal-blue
    %header.text-center
      %h2.page-section-title.color-white Get started
    .text-center.color-white
      %p We’ll get back to you within a few hours with everything you need to integrate your new search into your website.
      %p Oh, and did we mention it's FREE? No commitment. No subscription. Everything is on us! And it won't change.
    .spacer30
  .col-md-12.fill-royal-blue
    {% haml join-form.haml %}

{% contentfor site-footer %}
<script src="{{ "/js/home.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
freezeframe_options = {
animation_icon_image: false
}
</script>
{% endcontentfor %}
