.header.fixed.top-0.w-100.h-3.z-5.bg-white-pure
  .max-w-xl.m-auto.h-100.flex.flrnw
    //- Algolia logo
    .hidden.sm_flex.fln.flcnw.flc
      a.cursor-pointer.text-0.pl-2(href="https://www.algolia.com/", target="_blank")
        img.h-1.sm_h-1x(src="assets/algolia-logo.svg", alt="Algolia")
    //- Separator
    .hidden.sm_flex.fln.flrnw.flc
      .w-1.h-1.sm_w-1x.sm_h-1x.text-telluric.fill-current
        include ../assets/icons/arrow-separator.svg
    //- Community logo
    .hidden.lg_flex.custom-community-link.fln.flcnw.flc.px-0x.relative
      a.cursor-pointer.text-0(href="https://community.algolia.com/", target="_blank")
        img.h-1.sm_h-1x.lg_h-2(src="assets/community/community-logo.svg", alt="Algolia Community")
      .custom-community-projects.hidden.sm_block.absolute.z-5.top-0.mt-3.ml-3.border.border-proton.rounded-auto.bg-white-pure.shadow-1
        .flex.flrw.pt-0x
          a.fln.w-50.flex.flrnw.p-05.flc.hover_no-underline(href="https://community.algolia.com/talksearch/")
            .fln.bg-blue.rounded-auto.w-2x.h-2x
              img.w-100(src="assets/community/talksearch-icon.svg", alt="TalkSearch")
            .fla.pl-1.text-solstice.text-1.bold.hover_text-nebula TalkSearch
          a.fln.w-50.flex.flrnw.p-05.flc.hover_no-underline(href="https://community.algolia.com/jekyll-algolia/")
            .fln.bg-blue.rounded-auto.w-2x.h-2x
              img.w-100(src="assets/community/jekyll-icon.svg", alt="Jekyll")
            .fla.pl-1.text-solstice.text-1.bold.hover_text-nebula Jekyll
          a.fln.w-50.flex.flrnw.p-05.flc.hover_no-underline(href="https://www.algolia.com/doc/guides/building-search-ui/what-is-instantsearch/js/")
            .fln.bg-blue.rounded-auto.w-2x.h-2x
              img.w-100(src="assets/community/instantsearch-icon.svg", alt="InstantSearch")
            .fla.pl-1.text-solstice.text-1.bold.hover_text-nebula InstantSearch
          a.fln.w-50.flex.flrnw.p-05.flc.hover_no-underline(href="https://www.algolia.com/doc/guides/building-search-ui/what-is-instantsearch/react/")
            .fln.bg-blue.rounded-auto.w-2x.h-2x
              img.w-100(src="assets/community/react-icon.svg", alt="React InstantSearch")
            .fla.pl-1.text-solstice.text-1.bold.hover_text-nebula React InstantSearch
          a.fln.w-50.flex.flrnw.p-05.flc.hover_no-underline(href="https://www.algolia.com/doc/guides/building-search-ui/what-is-instantsearch/vue/")
            .fln.bg-blue.rounded-auto.w-2x.h-2x
              img.w-100(src="assets/community/vue-icon.svg", alt="Vue InstantSearch")
            .fla.pl-1.text-solstice.text-1.bold.hover_text-nebula Vue InstantSearch
          a.fln.w-50.flex.flrnw.p-05.flc.hover_no-underline(href="https://www.algolia.com/doc/guides/building-search-ui/what-is-instantsearch/angular/")
            .fln.bg-blue.rounded-auto.w-2x.h-2x.flex.flrnw.flc
              img.w-80(src="assets/community/angular-icon.svg", alt="Angular InstantSearch")
            .fla.pl-1.text-solstice.text-1.bold.hover_text-nebula Angular InstantSearch
          a.fla.flex.flrnw.p-0x.flc.text-2.text-solstice.bold.bg-moon.rounded-auto.py-1(href="https://discourse.algolia.com/")
            |Community Forum

    //- Separator
    .hidden.lg_flex.fln.flrnw.flc
      .w-1.h-1.sm_w-1x.sm_h-1x.text-telluric.fill-current
        include ../assets/icons/arrow-separator.svg
        
    //- Project link
    .flex.fln.flrnw.flc.pl-1.sm_pl-0
      a.cursor-pointer.uppercase.tracking-poppins.poppins.text-solstice.hover_text-nebula.hover_no-underline(href='./')
        span.hidden.sm_block.ml-0x=site.project
        img.align-text-bottom.h-100.sm_hidden.ml-1(src="assets/docsearch-mark.svg" width=40 alt="DocSearch logo")

    //- DocSearch
    .flex.fla.flrnw.flrcv.flrar.ml-2
      .w-100.flrnw.flex.flrar
        .custom-search-wrapper.fln.h-60.w-100.rounded-auto.relative
          label.absolute.left-0.z-1.w-1.h-100.ml-05.text-solstice.fill-current.cursor-pointer(for="docsearch")
            include ../assets/icons/magnifying-glass.svg
          input.custom-search-input.w-100.h-2x.leading-h-2x.outline-none.text-solstice.pl-2.rounded-auto.bg-moon.focus_bg-moon--1#docsearch(placeholder="Search the docs...")
    
    //- Links
    block nav
    
