.text-5.mb-1 Sign Up to our Newsletter
.text-2.mb-2.text-nova Follow project updates and general vector loveliness
.max-w-sm.flex.m-auto.mt-1
  .fla
    input#newsletter_email.form-control-primary.w-100(name="newsletter_email", placeholder="you@example.org", type="email")
  .fla.pl-1
    .button.c-button.w-100 Sign Up
